<h1> {{title}}</h1>

<form>
    <table>
        <tr>
            <td>Amount <input name="amount" value="{{amount}}"></input></td>
        </tr>
        <tr>
            <td>Source currency <select name="sourceCode"> {{{sourceCurrencyList}}} </select></td>
        </tr>
        <tr>
            <td>Destination currency <select name="destinationCode"> {{{destinationCurrencyList}}} </select></td>
        </tr>
        <tr>
            <td> <input type="submit" value="Convert" class="button" /></td>
        </tr>
        <tr>
            <td>Converted amount: {{result}} </td>
        </tr>
    </table>
</form>